@define-color selected-text #FF8C00;
@define-color text #d3c6aa;
@define-color base #2d353b;
@define-color border #d3c6aa;
@define-color foreground #d3c6aa;
@define-color background #2d353b;
@define-color saffron #FF8C00;
@define-color accent #FF8C00;

